.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-row-gap: 10;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.cart-container {
    background-color: #f8e0bb;
}

.cart-container button {
    background-color: #FF9900;
    color: white;
    border: 0px;
    width: 230px;
    height: 48px;
}

.pagination button {
    margin-right: 10px;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    color: white;
    padding: 10px;
}

.pagination .selected {
    background-color: #f8e0bb;
    color: black;
}